:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #5b5b5b;
  }
  
  li {
    list-style-type: none;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    text-decoration: none;
  }
  
  a {
    list-style-type: none;
    text-decoration: none;
  }
  
  body {
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

/* sizing of map container */
.leaflet-container {
    height: 100vh;
}

.marker {
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
}

.markers-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 190, 190, .7);
    margin-left: 1rem;
    border-radius: .3rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}

.markers-container h2 {
    text-align: center;
    font-family: sans-serif;
}

.markers-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    min-width: 20rem;
    margin: 0 1rem;
    overflow-y: auto;
}

.markers-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.markers-list ul li {
    display: flex;
    margin-bottom: 1rem;
    background-color: rgb(237, 236, 236, .8);
    width: 17rem;
    height: 2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s ease;
}

.markers-list ul li:hover {
    background-color: rgb(245, 242, 242);
}

.button-container {
    margin: 0 2rem;
}